body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.carousel-wrapper-home {
  height: 100vh;
  width: 100vw;
}

.carousel-wrapper-home img {
  height: 100vh;
  width: 100vw;
}

p.legend {
  color: white !important;
  opacity: 0.75 !important;
  font-size: 16px !important;
}

.index-picture {
  max-height: 50vh;
  overflow: hidden;
}

.index-picture2 {
  max-height: 50vh;
  overflow: hidden;
}

.index-picture2 p {
  position: absolute;
  top: 44vh;
}

.index-picture p {
  position: absolute;
  top: 49vh;
}