body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.carousel-wrapper-home {
  height: 98vh;
  width: 100vw;
}

.carousel-wrapper-home img {
  height: 98vh;
  width: 100vw;
}

p.legend {
  color: white !important;
  opacity: 0.75 !important;
  font-size: 16px !important;
  bottom: 60px !important;
}

.index-picture {
  position: relative;
  max-height: 19.5vh;
  overflow: hidden;
  text-align: center;
}

.headings {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
}


